/* body {
  font-family: Roboto,Lora,sans-serif;
} */

/* html {
  font-family: Roboto, Lora, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
} */

.welcome-extension {
    background-color:#b68fbf;
    background-image: url("//grapesjs.com/img/bg-gr-v.png"), url("city_clipart.png");
    height: 100vh
}

/*https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551*/
.footer-minor {
	background-color: #170b1a;
	background: #170b1a;
	padding-bottom: 3px;
	padding-top: 3px;
	min-height: 5px;
	max-height: 20px;
	color: #170b1a;
	position: relative;
	font-weight: 100;
	font-family: Helvetica, serif;
}

.copyright-minor {
	background-color: rgba(0, 0, 0, 0.15);
	background: #170b1a;
	color: rgba(238, 238, 238, 0.5);
	bottom: 0;
	padding: 1em 0;
	position: absolute;
	width: 100%;
	font-size: 0.75em;
}

.bp-navbar-text-colour, .bp-profile-text {
	color: #703680
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  /* overflow: scroll-y;
  overflow-x: hidden; */
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em    color: #999;;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/*https://bootstrapious.com/p/bootstrap-sidebar*/
#sidebar {
    width: 220px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #703680;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

/* #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #593063;
} */

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #9250a3;
    background: #fff;
}

/* #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #593063;
} */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #66446e;
}

.wrapper {
    display: flex;
    width: 100%;
}

.card-big {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-big-clickable {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-big-clickable:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card-img-clickable {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: transparent;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-img-clickable:hover {
  margin-top: -5px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
}

.btn-top-delete, .btn-top-delete-xs {
    border-radius: 15%;
}

.btn-top-delete {
    position: absolute;
    top:-10px;
    right:-10px;
}

.btn-top-delete-xs {
    position: absolute;
    top:-5px;
    right:-5px;
}

.btn-top-delete-gallery {
  position: absolute;
  top: 8px;
  right: 8px;
}

.bp-btn-outline-danger {
  color: #d9534f;
  background-image: none;
  background-color: white;
  border-color: #d9534f;
}

.bp-btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.bp-btn-outline-danger:focus, .bp-btn-outline-danger.focus {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.bp-btn-outline-danger:active, .bp-btn-outline-danger.active,
.open > .bp-btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f;
}

.bp-btn-outline-danger:active:hover, .bp-btn-outline-danger:active:focus, .bp-btn-outline-danger:active.focus, .bp-btn-outline-danger.active:hover, .bp-btn-outline-danger.active:focus, .bp-btn-outline-danger.active.focus,
.open > .bp-btn-outline-danger.dropdown-toggle:hover,
.open > .bp-btn-outline-danger.dropdown-toggle:focus,
.open > .bp-btn-outline-danger.dropdown-toggle.focus {
  color: #fff;
  background-color: #ac2925;
  border-color: #8b211e;
}

.bp-btn-outline-danger.disabled:focus, .bp-btn-outline-danger.disabled.focus, .bp-btn-outline-danger:disabled:focus, .bp-btn-outline-danger:disabled.focus {
  border-color: #eba5a3;
}

.bp-btn-outline-danger.disabled:hover, .bp-btn-outline-danger:disabled:hover {
  border-color: #eba5a3;
}

.img-navbar-account {
  width: 22px;
  height: 22px;
  float: left;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 3px;
  position: relative;
  top: 15%;
}

a.navbar-account:hover, a.navbar-account:active {
  background-color: transparent;
}

.dropdown-toggle {
  background-color: transparent;
}

.bp-input-validation-error {
  border-radius: 5px;
  border-width: 1px;
  border-color: #f5c2c7;
  background-color: #f8d7da;
  /* outline-style: solid;
  outline-width: 2px;
  outline-color: rgb(248, 54, 80);
  color: rgb(245, 26, 55); */
}

.bp-user-avatar {
  width: 180px;
  display: block;
  margin: auto;
  padding: 20px;
  border-radius:50%
}

.bp-card-big-shadow-fx {
  box-shadow: 5px 5px 15px grey;
  padding: 30px;
}

/* https://www.w3schools.com/css/css_image_gallery.asp */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.bp-gallery-container {
  position: relative;
}